<div id="<%= dom_id business %>">
  <p>
    <strong>Name:</strong>
    <%= business.name %>
  </p>

  <p>
    <strong>Products:</strong>
    <%= business.products %>
  </p>

  <p>
    <strong>Num of employees:</strong>
    <%= business.num_of_employees %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= business.industry_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= business.user_id %>
  </p>

</div>
