<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Business Goals</h1>
  <div class="row">
    <div class="col-lg-3">
      <!-- Business Information -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold" style="color: black">
            <i class="fas fa-building"></i>
            Business Information
          </h6>
        </div>
        <div class="card-body">
          <%= render partial: "businesses/business_show_card", locals: { business: @business } %>
          <!-- Show Business Data (Default) -->
        </div>
      </div>
      <!-- Add Channels & Products -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold" style="color: black">
            <i class="bi bi-1-circle"></i>
            Products & Sevices
          </h6>
        </div>
        <div class="card-body">
          <% @business.products.each do |product| %>
            <%= render partial: "products/product", locals: { product: product} %>
          <% end %>
          <%= render "products/modal" %>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold" style="color: black">
            Business Channels
          </h6>
        </div>
        <div class="card-body">
          <% @business.channels.each do |channel| %>
            <%= render partial: "channels/channel", locals: { channel: channel} %>
          <% end %>
          <%= render "channels/modal" %>
        </div>
      </div>
    </div>
    <!-- Setup Business Goals -->
    <div class="col-lg-9">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold" style="color: black">
            Setup Goals
          </h6>
        </div>
        <div class="card-body text-white" style="background-color:#047d57">
          <p>
            Create a business goal for each
            quarter of the year.
          </p>
          <%= render partial: "goals/modal", locals: { form_type: "create", id_suffix: 0, goal: @goal, btn_text: "Add Goal" } %>
          <div class="row my-3">
            <% @business.goals.each do |goal| %>
              <%= render partial: "goals/goal", locals: { goal: goal } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
