<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render @business %>
      <div>
        <%= link_to "Edit this business", edit_business_path(@business) %> |
        <%= link_to "Back to businesses", businesses_path %>
        <%= button_to "Destroy this business", @business, method: :delete %>
      </div>
    </div>
    <div class="col-md-7">
      <h2 class="text-center heading-fonts">Quaterly Goals</h2>
      <%= render "goals/modal" %>
      <% @business.goals.each do |goal| %>
        <%= render partial: "goals/goal", locals: { goal: goal } %>
      <% end %>
    </div>
    <div class="col-md-2">
      <div>
        <h4 class="text-center heading-fonts">Channels</h4>
        <%= render "channels/modal" %>
        <% @business.channels.each do |channel| %>
          <%= render partial: "channels/channel", locals: { channel: channel} %>
        <% end %>
      </div>
      
      <div>
        <h4 class="text-center heading-fonts">Products</h4>
        <%= render "products/modal" %>
        <% @business.products.each do |product| %>
          <%= render partial: "products/product", locals: { product: product} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
