<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold" style="color: black;">Leads Performance</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Time</th>
            <th>Projected Leads</th>
            <th>Actual Leads</th>
            <th>Surplus / Deficit</th>
            <th>Abandoned Leads</th>
            <th>Conversion Rate</th>
            <th>Budget</th>
            <th>Revenue</th>
          </tr>
        </thead>
        <tbody>
          <% @business.goals.each do |goal| %>
            <tr>
              <th><%= goal.quater_name %> - <%= goal.created_at.year %> </th>
              <td><%= goal.projected_leads %></td>
              <td><%= goal.actual_leads %></td>
              <td><%= goal.lead_difference %></td>
              <td><%= goal.abandoned_leads %></td>
              <td><%= goal.conversion_rate %></td>
              <td><%= goal.budget %></td>
              <td><%= goal.revenue %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
