<%= render "shared/navbar" %>
<!-- Masthead-->
<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-left">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5">Track, Measure, And
            Grow Your Business
            With Client Scoreboards</h1>
          <div class="row">
            <!--Get Started Button-->
            <div class="col-auto">
              <%= link_to "Get Started", new_user_session_path, class: "btn btn-success" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
  <div class="row">
    <div class="col-md-3 mx-auto text-center">
      <div class="bg-light">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <footer class="blockquote-footer">Running a business without a scoreboard is like driving a car
without a dashboard.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-success"></i></div>
          <h3>Informative Insights</h3>
          <p class="lead mb-0">Unlock the power of data-driven decision making with Client Scoreboard</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-success"></i></div>
          <h3>Business Tools</h3>
          <p class="lead mb-0">Stop guessing and start growing your business with Client Scoreboard's powerful analytics and reporting features.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-success"></i></div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">Take control of your business success with Client Scoreboard's easy-to-use platform</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Image Showcases-->
<section class="showcase my-5">
  <div class="container p-0">
    <h2 class="text-center">About Us</h2>
  </br>
  <div class="row g-0">
    <div class="col-md-6">
      <p class="lead mb-0">
        Running a business without a scoreboard is like driving a car without a dashboard.
        Take the guesswork out of growing your business.
        Client Scoreboards simplify the process of tracking leads, conversions rates and
        number of clients so you can see clearly at any time if you are growing at the right
        pace.
      </p>
    </div>
    <div class="col-md-6">
      <p class="lead mb-0">
        This is an easy-to-use platform even if you are not technical. Start using it today so
        you can make data-driven decisions as you grow your business.
        At Client Scoreboard, we believe every small business deserves to know and grow
        intentionally. That&#39;s why we&#39;re committed to providing our clients with personalized
        support and expert guidance every step of the way. Whether you&#39;re just starting out
        or looking to take your business to the next level, we&#39;re here to help you grow
      </p>
    </div>
  </div>
</div>
</div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%=image_tag("testimonials-1.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"Since we started using Client Scoreboard, our business has seen a significant increase in leads and conversions. The platform's reporting features have helped us stay on track and make data-driven decisions that have had a real impact on our bottom line."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-2.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"As someone who is a handy-man I am not very tech-savvy, I was pleasantly surprised by how easy it was to use Client Scoreboard. The platform is intuitive and straightforward, and I love being able to see all of my leads and conversion data in one place."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-3.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Client Scoreboard has been a game-changer for my business. The insights and data we get from the platform have helped us make more informed decisions and grow our business faster than ever before."</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to Action-->
<section class="call-to-action text-white text-center" id="signup">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        <!-- Signup form-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
          <!-- Email address input-->
          <div class="row">
            <div class="col-md-3 mx-auto">
              <%= link_to "Log In", new_user_session_path, class: "btn btn-success btn-lg" %>
            </div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
              <div class="fw-bolder">Form submission successful!</div>
              <p>To activate this form, sign up at</p>
              <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#!">About</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Contact</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Client Scoreboard 2023</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-facebook fs-3 text-success"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="#!"><i class="bi-twitter fs-3 text-success"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#!"><i class="bi-instagram fs-3 text-success"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
