<%= form_with(model: @weekly_data_entry) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <%= form.label :date %>
      <%= form.date_field :date, class: "form-control", required: true %>
    </div>
  </div>
  <div>
    <h5 class="heading-fonts my-3 text-center">Product Leads Per Week</h5>
    <div class="row">
      <% @goal.business.products.each do |product| %>
        <div class="col-md-4" id="channel-leads-per-week">
          <%= form.label product.name %>
          <%= number_field_tag "#{product.name}" %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <h5 class="heading-fonts my-3 text-center">Channel Leads Per Week</h5>
    <div class="row">
      <% @goal.business.channels.each do |channel| %>
        <div class="col-md-4" id="channel-leads-per-week">
          <%= form.label channel.name %>
          <%= number_field_tag "#{channel.name}" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= form.label :contacted_leads %>
      <%= form.number_field :contacted_leads, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <%= form.label :paid_customers %>
      <%= form.number_field :paid_customers, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <%= form.label :budget_expences %>
      <%= form.number_field :budget_expences, class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <%= form.label :revenue %>
      <%= form.number_field :revenue, class: "form-control", required: true %>
    </div>
    <div class="col-md-2">
      <%= form.submit "Create" %>
    </div>
    <%= form.hidden_field :business_id, value: @goal.business_id%>
    <%= form.hidden_field :user_id, value: current_user.id%>
    <%= form.hidden_field :goal_id, value: @goal.id %>
  </div>
<% end %>
