<!-- Button trigger modal -->
<% if weekly_data_entry.persisted? %>
  <button type="button" class="edit-link-yellow" data-bs-toggle="modal" data-bs-target="#weeklyDataEntry-<%= id_suffix %>">
    <i class="bi bi-pencil-square"></i>
  </button>
<% else %>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#weeklyDataEntry-<%= id_suffix %>">
    <%= action_text(weekly_data_entry) + " Weekly Entry" %>
  </button>
  <% end %>
<!-- Modal -->
<div class="modal fade" id="weeklyDataEntry-<%= id_suffix %>" tabindex="-1" aria-labelledby="weeklyDataEntryLabel-<%= id_suffix %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <%= render partial: "weekly_data_entries/form", locals: { weekly_data_entry: weekly_data_entry } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
