<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold" style="color: black;">Weekly Input</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Week</th>
            <th>Total Leads</th>
            <th>Channel Leads</th>
            <th>Contacted Leads</th>
            <th>Paid Customers</th>
            <th>Conversion Rate</th>
            <th>Budget Expense</th>
            <th>Revenue</th>
            <th>Products/Service</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @goal.weekly_data_entries.each do |data| %>
            <tr>
              <th><%= data.date.strftime("%-V") %></th>
              <td><%= data.leads_per_week %></td>
              <td>
                <% data.channel_leads_array_of_hashes.each do |hash| %>
                  <p><%= hash.keys.first %> : <%= hash.values.first %></p>
                <% end %>
              </td>
              <td><%= data.contacted_leads %> </td>
              <td><%= data.paid_customers %></td>
              <td><%= data.conversion_rate %> %</td>
              <td>$ <%= data.budget_expences %></td>
              <td>$ <%= data.revenue %></td>
              <td>
                <% data.product_leads_array_of_hashes.each do |hash| %>
                  <p><%= hash.keys.first %> : <%= hash.values.first %></p>
                <% end %>
              </td>
              <td>
                <%= render partial: "weekly_data_entries/modal", locals: { weekly_data_entry: data, id_suffix: data.id }%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
