<%= form_with(model: @goal) do |form| %>
  <div class="row dark-faint">
    <div class="col-md-6">
      <%= form.label :quater_name %>
      <%= form.select :quater_name, Goal::QUATER_OPTIONS, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :projected_leads %>
      <%= form.text_field :projected_leads, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :budget %>
      <%= form.number_field :budget, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :projected_conversion_rate %>
      <%= form.number_field :projected_conversion_rate, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :projected_revenue %>
      <%= form.number_field :projected_revenue, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <h6 class="text-center text-secondary my-3">Channels</h6>
      <% @business.channels.each do |channel| %>
        <div class="p-0 m-0">
          <% if @goal.persisted? && @goal.channels.include?(channel.name) %>
            <%= check_box_tag "goal[channels][]", channel.name, checked: true %>
            <%= form.label channnel.name %>
          <% else %>
            <%= check_box_tag "goal[channels][]", channel.name %>
            <%= form.label channel.name %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= form.hidden_field :business_id, value: @business.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <%= form.submit "Create Goal", class: "btn btn-success" %>
  </div>
<% end %>
