<div class="col-md-6 dark-faint my-2">
  <div class="card p-3">
    <h2 class="heading-fonts text-center"><%= goal.quater_name %></h2>
    <div class="d-flex justify-content-between">
      <p><strong>Project Leads</strong>: <%= goal.projected_leads %></p>
      <p><strong>Budget</strong>: $<%= goal.budget %></p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="text-center"><strong>Projected Con Rate:</strong>
        <%= goal.projected_conversion_rate %>%</p>
      <p class="text-center"><strong>Projected Rev</strong>
        $<%=goal.projected_revenue %>
      </p>
    </div>
    <div class="d-flex justify-content-between">
      <%= link_to "View", goal, class: "general-view-link" %>
      <%= render partial: "goals/modal", locals: { form_type: "edit", id_suffix: goal.id, goal: goal, btn_text: "Update" } %>
      <%= link_to 'Delete', goal_path(goal), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "general-delete-link" %>
    </div>
  </div>
</div>
