<div class="col-md-6">
  <div class="card p-3">
    <h2 class="heading-fonts text-center"><%= goal.quater_name %></h2>
    <div class="d-flex justify-content-between">
      <p><span class="goal-card-labels">Project Leads</span>: <%= goal.projected_leads %></p>
      <p><span class="goal-card-labels">Budget</span>: <%= goal.budget %></p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="text-center">Projected Conversion Rate<br>
 <%= goal.projected_conversion_rate %></p>
      <p class="text-center">Projected Revenue<br>
 <%= goal.projected_revenue %></p>
    </div>
  </div>
</div>
