<%= form_with(model: @product) do |form| %>
  <div class="row">
    <div class="col-md-10 p-0">
      <%= form.text_field :name, placeholder: "Enter Product Name", class: "form-control" %>
    </div>
    <div class="col-md-2 p-0">
      <%= form.submit "Create" %>
    </div>
    <%= form.hidden_field :business_id, value: @business.id%>
    <%= form.hidden_field :user_id, value: current_user.id%>
  </div>
<% end %>
